.header-pg {
  margin: 20px 0 0 122px;
}

.form-criar {
  // margin: 26px 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .visitor {
    display: flex;
    align-items: flex-end;
    margin-left: 8px;

    .visitor, label {
      margin-left: 8px;
    }
  }

  .button-confirm-cancel {
    display: flex;
    align-items: flex-end;
    margin-left: -16px;

    .cancel {
      min-width: 104px;
      margin-left: 10px;
    }
  }

}




