<div class="form-criar">
  <form class="row g-3">
    <div class="col-sm-3">
      <label for="inputName" class="form-label">Nome</label>
      <input type="text" class="form-control" id="inputName" placeholder="">
    </div>
    <div class="col-sm-2">
      <label for="inputPhone" class="form-label">Celular</label>
      <input type="text" class="form-control" id="inputPhone" placeholder="">
    </div>
    <div class="col-sm-3">
      <label for="inputAddress" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="col-sm-1">
      <label for="inputAge" class="form-label">Idade</label>
      <input type="text" class="form-control" id="inputAge" placeholder="">
    </div>
    <div class="col-sm-1">
      <label for="exampleDataList" class="form-label">Conecção</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="">
      <datalist id="datalistOptions">
        <option value="San Francisco">
        <option value="New York">
        <option value="Seattle">
        <option value="Los Angeles">
        <option value="Chicago">
      </datalist>
    </div>
    <div class="col-sm-1 form-check visitor">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Visitante
      </label>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3"><strong> Confirmar </strong></button>
    </div>
  </form>
</div>
