<div class="member-read">
  <div class="example-container">
    <h2>MEMBROS ATIVOS</h2>

    <div class="title-table">
      <span class="title-name"><strong> Nome </strong></span>
      <span class="titl-ceel"><strong> WhatsApp </strong></span>
      <span class="title-age"><strong> Idade </strong></span>
      <span class="title-conection"><strong> GC </strong></span>
    </div>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="membersActive" [cdkDropListConnectedTo]="[doneList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let member of membersActive">
        <div class="example-box" cdkDrag>
          <span class="name"> {{ member.name | titlecase }} </span>
          <span class="cel"> {{ member.cel }} </span>
          <span class="age"> {{ member.age }} </span>
          <span class="conection"> {{ member.conection }} </span>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="example-container">
    <h2>MEMBROS INATIVOS</h2>
    <div class="title-table">
      <span class="title-name"><strong> Nome </strong></span>
      <span class="titl-ceel"><strong> WhatsApp </strong></span>
      <span class="title-age"><strong> Idade </strong></span>
      <span class="title-conection"><strong> GC </strong></span>
    </div>
    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="membersInactive" [cdkDropListConnectedTo]="[todoList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let member of membersInactive">
        <div class="example-box-inactive" cdkDrag>
          <span class="name"> {{ member.name | titlecase }} </span>
          <span class="cel"> {{ member.cel }} </span>
          <span class="age"> {{ member.age }} </span>
          <span class="conection"> {{ member.conection }} </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
